.list-container {
    width: 90%;
    border: 1px solid black;
    border-radius: 25px;
    margin-left: 5%;
}

.list-container ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 10px;
}

.list-container li {
    flex: 0 0 auto;
    
}

.list-container div {
    font-size: x-small;
    text-overflow: ;
}

.list-container img {
    width: 40px;
    color: grey;
    
}

.list-item {
    display: flex;
    flex-direction: row;
}

.box1 {
    width: 50%;
    max-width: 4em;
    border: 1px solid;
    font-weight: 600;
    justify-content: center;
    align-content: center;
}

.box2 {
    width: 100%;
    max-width: 2em;
    border: 1px solid;
}

.box3 {
    width: 100%;
    max-width: 6em;
    border: 1px solid;
}

.box4 {
    width: 100%;
    max-width: 10em;
    border: 1px solid;
}

.box5 {
    width: 100%;
    max-width: 7em;
    border: 1px solid;
}

