.list-container {
    width: 95%;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgb(192, 27, 27);
}

.complete {
    background-color: rgb(102, 189, 47);
}

.list-container ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 5px;

}

.list-container div {
    font-size: x-small;
}

.list-container img {
    width: 40px;
    height:40px;
    
    color: grey;
    background-color: transparent;
}

.box1 {
    width: 65px;
    max-width: 8em;
    font-weight: 600;
    padding: 5px;
    justify-content: center;
    align-content: center;
    margin-right: 10px;
}

.box2 {
    background-color: rgb(214, 204, 204);
    width: 20px;
    height: 20px;
    border: 10px solid;
    border-radius: 25px;
    padding: 8px;
    font-weight: 600;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.box3 {
    background-color: rgb(214, 204, 204);
    width: 140px;
    max-width: 8em;
    border: 1px solid;
    border-radius: 5px;
    padding: 8px;
    margin-inline: 10px;
}

.box4 {
    background-color: rgb(214, 204, 204);
    width: 140px;
    max-width: 6em;
    border-radius: 5px;
    border: 1px solid;
    padding: 8px;
    margin-inline: 10px;
}

.box5 {
    background-color: rgb(214, 204, 204);
    width: 150px;
    border-radius: 5px;
    /* max-width: 10em; */
    border: 1px solid;
    padding: 8px;
    margin-inline: 10px;
}

.box6 {
    background-color: rgb(214, 204, 204);
    width: 150px;
    border-radius: 5px;
    border: 1px solid;
    padding: 10px;
    margin-inline: 10px;
}

.video-responsive {
    display: flex;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.active {
    background-color: rgb(232, 172, 172);
    margin-inline: 10px;
}